<ion-header-bar align-title="center" class="bar-balanced-abn">
 <h1 class="title">Pizza App</h1>
 <button  ng-click="logout()" >Logout</button>
</ion-header-bar>

<ion-view>
  

    <div class="app">    
               <div data-role="page" id="QrCode">      
                       
                  <div role="main" class="ui-content" id="home-content">      
                      <input id="text" type="text" style="width:80%" /><br />     
					    <button id="menu2-button33" class="button button-assertive  button-block" ng-click="Confirm();">Verify QR Code</button>  
                 </div> 
					
			<div ng-show="showMe">
				<h1>Order Details</h1>
				<h3>UserId:{{userid}}</h3>
				<h3>Amount:{{amount}}$ </h3>
				<h3>OrderId:{{orderid}}</h3>

				<button id="menu2-button33" class="button button-assertive  button-block" ng-click="showPopup();" >Enter Pin</button>
			</div>
					
				<div>	
               </div>      
            </div>

  </ion-content>
</ion-view>
