<!-- <div class="bar bar-subheader">
        <div class="button-bar">
           <a class="button" ng-class="{\''button-positive'\': isActive(\''b'\')}" ng-click="setActive(\''b\')">Lunch</a>
          <a class="button" ng-class="{\''button-positive'\': isActive(\''l'\')}" ng-click="setActive(\''l\')">Lunch</a>
          <a class="button" ng-class="{\''button-positive'\': isActive(\''d'\')}" ng-click="setActive(\''d\')">Lunch</a>
        </div>
    </div>
    
    <a class="button" ng-class="{\''button-positive'\': isActive(\''lunch'\')}" ng-click="setActive(\''lunch\')">Lunch</a>-->
    
   

  
  <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Customer</ion-toggle>




</ul>