<ion-header-bar align-title="center" class="bar-balanced-abn">
 <h1 class="title">User Registration</h1>
</ion-header-bar>

<ion-view >
  <ion-content>
    <ion-scroll zooming="true" direction="y" class="scroll" >

    <!-- for username -->



  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="input.userId">
  </label>

<div class="row">
<div class="col-50">
<label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="input.firstName">
  </label>
  </div>

  <div class="col-50">
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="input.lastName">
  </label>
  </div>

  </div>
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="input.emailId">
  </label>


  <label class="item item-input">
    <input type="text" placeholder="Account No." ng-model="input.accountNumber">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="KVK No." ng-model="input.kvkNumber">
  </label>

<label class="item item-input">
    <input type="number" placeholder="Pin" ng-model="input.userPin">
  </label>


<label class="item item-input">
    <input type="text" placeholder="Mobile No." ng-model="input.mobileNumber">
  </label>



<div style="height:3%;"></div>

    <div>
      <button class="button icon-right ion-chevron-right button-energized abn" ng-click="add();">
          Next
    </button>
    </div>


    </ion-scroll>
  </ion-content>
</ion-view> 