<ion-header-bar align-title="center" class="bar-balanced-abn">
 <div class="buttons ">
    <a href="#/mhome" class="button bar-balanced-abn">Cancel</a>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content class="padding" >

<div class="card">
  <div class="item item-text-wrap">
    Customer can scan this QR to make payment
  </div>
</div>

    <div id="qrcode" class="qrDiv"></div>


<!-- 
<div class="bar bar-footer bar-balanced">
  <div class="title">Payment Receiv</div>
</div>
-->

  </ion-content>
</ion-view>