<ion-header-bar align-title="center" class="bar-balanced-abn">
<h1 class="title">Pizza APP</h1>
<button  ng-click="logout()" >Logout</button>
</ion-header-bar>

<ion-view title="Menu" id="page8">
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/Afq5KyZfQD6VApC1jYu3_pizza-hut-trinidad-and-tobago-supreme-lovers.png" width="100%" height="auto">
        </div>
        <div class="button-bar">
            <a ui-sref="account" id="menu2-button31" class="button button-assertive  button-block">USER ACCOUNT</a>
			<!--<button id="menu2-button33" class="button button-assertive  button-block" ng-click="userAcc();">USER ACCOUNT</button-->
			
        </div>
        <div class="button-bar">
            <button id="menu2-button33" class="button button-assertive  button-block" ng-click="orderPizza();">ORDER PIZZA</button>
        </div>
    </ion-content>
</ion-view>