<ion-header-bar align-title="center" class="bar-balanced-abn">
 <h1 class="title">Merchant Registration</h1>
</ion-header-bar>


<ion-view >
<ion-scroll class="scroll"zooming="true" direction="y" style=" height: 500px" >
  <div class="list card" class="padding" style="padding-top:20px;">
      <div class="item item-divider">Which Industry you are in?</div>
      <div class="item item-body">

        <ul class="list">
			<li class="item item-radio">
		     <input type="radio" name="group">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group" value="on">
					<div class="item-content">FOOD</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
			</li>
		  <li class="item item-radio">
		     <input type="radio" name="group">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group" value="on">
					<div class="item-content">HOME</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
			</li>
			<li class="item item-radio">
		     <input type="radio" name="group">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group" value="on">
					<div class="item-content">SALOON</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
			</li>
			<li class="item item-radio">
		     <input type="radio" name="group">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group" value="on">
					<div class="item-content">OTHERs</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
			</li>
		</ul>
      </div>
    </div> 

    <div class="list card" class="padding" style="padding-top:20px;">
      <div class="item item-divider">What type of shop you have??</div>
      <div class="item item-body">
		<li class="item item-radio">
		     <input type="radio" name="group2">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group2" value="on">
					<div class="item-content">ONLINE</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
		</li>
		<li class="item item-radio">
		     <input type="radio" name="group2">
			<div>
				<label class="item item-radio">
					<input type="radio" name="group2" value="on">
					<div class="item-content">RETAIL</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
				<i class="radio-icon ion-checkmark"></i>
		</li>
	  
      </div>
    </div> 

    <div class="list card" class="padding" style="padding-top:30px;">
      <div class="item item-divider">Store Name</div>


  <label class="item item-input">
    <input type="text" placeholder="Store Name">
  </label>

    </div> 
<form action="#/maccount"> 
    <div><button class="button icon-right ion-chevron-right button-energized nabn" >
  				Next
		</button>
    </div>
    </div>
    </form>
    </ion-scroll>