/* Empty. Add your own CSS if you like */
.scroll{
  height:100% !important
 }
 .scrollList{
  height:60% !important
 }
.bar-balanced-abn {
background-color: #e60000;
}
.button.bar-balanced-abn {
background-color: #005e5d;
color:white;
}

.icon.ion-navicon{
	color:white;

}

.username {
text-overflow: ellipsis !important; white-space: nowrap; width:3.85em;overflow:hidden;
}

.title{
color: white;
}
.button.button-energized.abn{
position: absolute;
background-color: "#ffd200";
color: black;
display: block; 
width: 100%;
top: 90%;
bottom: 5px;
}

.button.button-energized.nabn{
background-color: "#ffd200";
color: black;
display: block; 
bottom: 5px;
}

.loginbutton{
width: 92% !important;
max-height:10% !important;
position:relative;
margin-left:4%;
}

input.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.button:after {
  position: relative;
  top: 100%;
}

.button-calm {
    border-color: #0a9ec7;
    background-color: #11c1f3;
    color: #fff; }

    .button-positive {
    border-color: #0c63ee;
    background-color: #387ef5;
    color: #fff; }

    .icon-google-wallet:before {
    font-family: "fontawesome";
    content: "\f1ee";
}

i.icon-accessory{
	font-size: 30px;
}

.qrDiv{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.bar.bar-balanced {
  background-color: "#ffd200";
  color: white;
}

.ion-checkmark
       {
 font-size: 64px;
 color : green;
}

element.style {
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: lightgrey;
}

input[type=number] {
    -webkit-text-security: disc;
}